# -r ../requirements.txt
# https://github.com/readthedocs/readthedocs.org/issues/10279
sphinx>=2.0, <7.0.0
sphinx_rtd_theme
numpy
scipy 
tqdm 
matplotlib
jpype1
git+https://github.com/Imperial-MIND-lab/integrated-info-decomp.git